@{
    ViewBag.Title = "About";
}
<h2>Mooshak 2.0</h2>
<h3></h3>

<p>
    It is important for students studying programming to get instant feedback when writing programs.
    Tools such as Mooshak are extremely helpful, where a teacher can define assignments which state
    what program(s) students should write, as well as define what the outcome should be for a given input,
    and where students can submit their solutions to said programs, and see clearly if their solution is solving
    the problem correctly.
</p>
<p>
    Such solutions must be modern and user-friendly. I.e. they must be usable on multiple devices,
    not just on laptop and desktop machines, and it must be easy for users, both students and teachers,
    to use them. Students are usually already occupied with learning the nuances of a new programming language,
    which means that it is essential that such a solution will not get in their way. The same applies to teachers,
    which are already occupied with creating assignments and helping material, and assisting students.
</p>
<p>
    This new Mooshak is a faster and more user friendly version than the last one.
    The interface has gotten a much needed upgrade and is lokking better then ever.
</p>